body {
    background-color: lavenderblush;
}

.qw {
    font-size: 50px;
    margin-top: 15x;
    margin-left: 10px;
    text-align: center;
}

.ty {
    width: 50px;
    height: 100px;
    margin-left: 500px;
}

.po {
    font-size: 50px;
    margin-top: 15x;
    margin-left: 10px;
    text-align: center;
}

.tp {
    width: 50px;
    height: 100px;
    margin-left: 650px;
}