{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block style %}
<style>
    .napitok {
        padding: 20px;
        border: solid 3px rebeccapurple;
        text-align: center;
        text-align: center;
        width: fit-content;
    }

    div {
        padding: 10px;
        font-size: larger;
        font-weight: bolder;
        font-style: italic;
    }

    </style>
{% endblock %}

{% block main %}
<a href="/lab3">Вернуться к лабораторной работе 3</a>

    <h1>Заказ напитка</h1>

    <form class="napitok" action="/lab3/count">
        <label for="x">x:</label>
        <input type="number" id="x" name="x" min="0">
        <label for="y">y:</label>
        <input type="number" id="y" name="y" min="0">
        <label for="z">z:</label>
        <input type="number" id="z" name="z" min="0">
        <button type="submit">OK</button>
    </form>
{% endblock %}