<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Крамар Дарья, Проворова Елена. Лабораторная работа {{nomerl}}</title>
</head>
<body>
    <header>
        WEB-програмиирование, часть 2. Лабораторная работа {{nomerl}}
    </header>

    <main>
        5 + 2 = {{ 5 + 2 }}<br>
        11 x 28 = {{ 11 * 28 }}<br>
        8452/793 = {{ 8452 / 793 }}<br>
        45^8 = {{ 45 ** 8 }}
    </main>

    <footer>
        &copy; {{name}}, ФБИ-{{gruppa}}, {{nomerk}} курс, 2023
    </footer>
</body>
</html>