{% extends "base.html" %}

{% block main %}
    <h1>Мультсериалы</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1.css') }}">
    <p><img width='300px' height="400px" src="{{ url_for('static', filename='1.jpg') }}">
    <div>В центре сюжета обычный школьник по имени Морти (Джастин Ройланд) и его не совсем вменяемый
         дедушка Рик (Джастин Ройланд), который очень любит выпить. Морти — самый обычный мальчик,
        и ни чем не отличается от своих сверстников. А вот его дедуля занимается необычными научными
        исследованиями, и зачастую полностью неадекватен. Он может в любое время дня и ночи схватить
        внука и отправиться вместе с ним в межпространственные приключения с помощью построенной
        из разного хлама летающей тарелки, которая способна перемещаться сквозь временной туннель.
        Каждый раз эта парочка оказывается в самых неожиданных местах, из-за чего очень часто дед
        и внук оказываются в нелепых и непредвиденных ситуациях. Родители мальчика далеко не в 
        восторге от выходок Рика, и пытаются доказать ему, что он поступает неправильно. Однако
        несмотря ни на что Морти и пожилой ученый каждый раз отправляются в очередное путешествие,
        где их ждут новые невероятные приключения…</div></p>
        <p><img width='300px' height="400px" src="{{ url_for('static', filename='2.jpg') }}">
        <div>Мультфильм показывает приключения четырёх мальчиков и их друзей, живущих в маленьком городке 
            Саут-Парк, штат Колорадо. Сериал высмеивает недостатки американской 
            культуры и текущие мировые события, а также подвергает критике множество глубоких убеждений 
            и табу посредством пародии и чёрного юмора.</div></p>
        <p><img width='300px' height="400px" src="{{ url_for('static', filename='3.jpg') }}">
            <div>Сериал рассказывает о приключениях двух двадцатитрёхлетних приятелей-раздолбаев — голубой 
                сойки по имени Мордекай (Дж.Дж. Куинтел) и енота Ригби (Уильям Салиерс).</div></p>
        <p><img width='300px' height="400px" src="{{ url_for('static', filename='4.jpg') }}">
            <div>С давних времён человечество ведёт борьбу с титанами — огромными существами, которые не обладают 
                особым интеллектом, зато едят людей и получают от этого удовольствие. 
                После продолжительной борьбы остатки человечества построили высокую стену, 
                окружившую страну людей, через которую титаны пройти не могут. 
                С тех пор прошло сто лет, люди мирно живут под защитой стены.</div></p>
        <p><img width='300px' height="400px" src="{{ url_for('static', filename='5.jpg') }}">
            <div>Будьте внимательнее к своим якобы чокнутым соседям — возможно, в их доме спрятан портал в другие миры. 
                Главные герои «Очень стрёмных дел» Чарли и Пирс обнаружили у старика Хелсинга дверь в фантастические вселенные. 
                Сам сосед не горит желанием путешествовать — с больной спиной 
                это мало кому доставит радость. Зато он разрешает Чарли и Пирсу повеселиться, 
                забывая про всех своих скелетов в шкафу, что хранит портал.</div></p>
{% endblock %}